<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CONFIG</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p></p>
    <ion-button expand="full" ion-button block  (click)="desconectarse();">log aout</ion-button>
</ion-content>
