<ion-menu contentId="content">
  <ion-header>
    <ion-toolbar color="primary"> 
      <ion-title>menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content >
    <div *ngFor="let p of pages">
      
      <ion-menu-toggle *ngIf="p.url">
        <ion-item routerDirection="root" routerLinkActive="active">
          <ion-icon [name]="p.icon" slot="start"></ion-icon>
          <ion-label>
            {{ p.title }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-item button *ngIf="p.subdata?.length > 0" (click)="p.open = !p.open" [class.active-parent]="p.open" detail="false">
        <ion-icon slot="start" name="arrow-forward" *ngIf="!p.open"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
        <ion-label> {{ p.title }} </ion-label>
      </ion-item>

      <ion-list *ngIf="p.open">
          <ion-menu-toggle>
              <ion-item *ngFor="let sub of p.subdata" [routerLink]="sub.url" routerDirection="root" routerLinkActive="active">
                <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                <ion-label>
                  {{ sub.title }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
      </ion-list>
    
    </div>
  </ion-content> 
</ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>