<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      LOGIN SISTEM
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">
    <ion-item>
      <ion-input type="text" placeholder="Email" position="floating" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-input type="password" placeholder="Password" position="floating" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <p>
    </p>
    <ion-button class="submit-btn" type="submit" expand="full" color="primary" [disabled]="!validations_form.valid" >
      INGRESAR</ion-button>
    <label class="error-message">{{errorMessage}}</label>
  </form>
  <p>
  </p>
  <ion-button expand="full" color="secondary" (click)="goToRegisterPage()">REGISTRARSE</ion-button>
</ion-content>