<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      LOGIN SISTEM
    </ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content padding>
  <ion-item>
    <ion-input type="text" placeholder="Email" position="floating"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" placeholder="Password" position="floating"></ion-input>
  </ion-item>
  <p>
  </p>
  
    <ion-button expand="full" size="" ion-button block> Login</ion-button>
    <ion-button expand="full" ion-button block> registrarse</ion-button>
  
</ion-content>